<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Acortador URL</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {{#unless user}}
        <li class="nav-item">
          <a class="nav-link" href="/auth/login">Ingresar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/register">Registrar</a>
        </li>
        {{/unless}}
        {{#if user}}
        {{#if user.isAdmin}}
        <li class="nav-item">
          <a class="nav-link" href="/admin/users">Administrar Usuarios</a>
        </li>
        {{/if}}
         {{#if user}}
          <li class="nav-item">
          <a class="nav-link" href="">Ajustes</a>
        </li>
        {{/if}}
        <li class="nav-item">
          <a class="nav-link" href="/auth/logout">Salir</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>