<link rel="stylesheet" type="text/css" href="/css/form.css">
</link>

{{#if body.userBlocked}}
    <div class="alert alert-dark alert-dismissible fade show mb-2">Usuario Bloqueado</div>
{{/if}}

<main class="create">
    <p class="login">Aun no tienes una cuenta? <a href="/auth/register">Registrate</a></p>

    <article class="content">
        <h1>Inicio de Sesión</h1>
        <p>Por favor ingrese todos los datos correctamente
        </p>
        <form action="/auth/login" method="post" class="form">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <label for="email">Correo electrónico</label>
            <input id="email" type="text" name="email" placeholder="Ingresa tu correo electrónico">
            <label for="password">Contraseña</label>
            <input id="password" type="password" name="password" placeholder="Ingresa tu contraseña">
            <input type="submit" value="Iniciar Sesión">
            <a href="/auth/forgout">Recuperar Contraseña</a>
        </form>
        
    </article>
    <section class="legal">
        <p>By clicking “Sign Up”, you agree to our <a href="#">terms of service</a> and <a href="#">privacy
                statement</a>. We’ll occasionally send you account related emails.</p>
    </section>
</main>