<link rel="stylesheet" type="text/css" href="/css/form.css"></link>

<main class="create">
    <p class="login">Tienes una cuenta registrada? <a href="/auth/login">Inicia Sesión</a></p>

    <article class="content">
        <h1>Registro de Usuario</h1>
        <p>Por favor ingrese todos los datos correctamente
        </p>
        <form action="/auth/register" method="post" class="form">
            <label for="username">Nombre de usuario</label>
            <input id="username "type="text" name="userName" placeholder="Ingresa tu username">
            <label for="email">Correo electrónico</label>
            <input id="email" type="text" name="email" placeholder="Ingresa tu correo electrónico">
            <label for="password">Contraseña</label>
            <input id="password" type="password" name="password"  placeholder="Ingresa tu contraseña">
            <label for="repassword">Repetir contraseña</label>
            <input id="repassword" type="password" name="repassword"  placeholder="Repite tu contraseña">
            <input type="submit" value="Registrar">
        </form>
    </article>
    <section class="legal">
        <p>By clicking “Sign Up”, you agree to our <a href="#">terms of service</a> and <a href="#">privacy
                statement</a>. We’ll occasionally send you account related emails.</p>
    </section>
</main>