<h1 class="text-center my-5">Registro de Usuarios</h1>

<div class="row justify-content-center">
    <div class="col-md-6">
        <form action="/auth/register" method="post">
            <input type="text" name="userName" class="form-control mb-2" placeholder="UserName">
            <input type="text" name="email" class="form-control mb-2" placeholder="Email">
            <input type="password" name="password" class="form-control mb-2" placeholder="Password">
            <input type="password" name="repassword" class="form-control mb-5" placeholder="Re-Password">
            <button type="submit" class="btn btn-success mt-3">Registrar</button>
            <a href="/" class="btn btn-danger mt-3">Volver</a>
        </form>
    </div>
</div>